body {
    padding-top: 70px;
}

/* Simple way to display differently on desktop and mobile */
.mobile-view {
    display: none;
}

.desktop-view{
    display: block;
}

@media (max-width: 1000px) {
    .mobile-view {
        display: block;
    }
    
    .desktop-view{
        display: none;
    }
}

/* otherwise sometimes chrome doesn't center elements*/
.center-align{
    text-align:center !important;
    width: 100% !important;
    text-align-last:center !important;
}

/* navbar */
.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #000000;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 200 !important;
    font-size: 14px;
}

.nav-link:hover{
    background: #e1e1e1
}

.navbar-nav .active{
	border-bottom: 4px solid #000000;
}

.navbar-nav{
    width: 100%;
}

/* Profile Picture style settings */

.proPic, .proPicBtn {
    object-fit: cover;
    max-height: 180px !important;
    max-width: 180px !important;
    min-height: 180px !important;
    min-width: 180px !important;
    border-radius: 50%;
    
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 4px solid transparent;
    
}

.proPicContainer {
    min-height: 180px !important;
}

.proPicBtn {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .proPic, .proPicBtn {
        object-fit: cover;
        max-height: 120px !important;
        max-width: 120px !important;
        min-height: 120px !important;
        min-width: 120px !important;
        border-radius: 50%;
    }

    .proPicContainer {
        min-height: 120px !important;
    }
}

/* button style */
button.btn{
    border-width: 3px;
}

div.row button{
    height: 100%;
    width: 75%;
    max-height: 150px;
}

button > img{
    height: 70%;
}

.d-grid > button{
    margin: 0 6.2%;
}

.form-outline{
    padding-bottom: 3%;
}

.btn-outline-animals{
    --bs-btn-color:#0eeb49;
    --bs-btn-border-color:#0eeb49;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#0eeb49;
    --bs-btn-hover-border-color:#0eeb49;
    --bs-btn-focus-shadow-rgb:13,110,253;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#0eeb49;
    --bs-btn-active-border-color:#0eeb49;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#0eeb49;
    --bs-btn-disabled-bg:transparent;
    --bs-btn-disabled-border-color:#0eeb49;
    --bs-gradient:none
}

.btn-outline-logout{
    --bs-btn-color:#9A9A9A;
    --bs-btn-border-color:#9A9A9A;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#9A9A9A;
    --bs-btn-hover-border-color:#9A9A9A;
    --bs-btn-focus-shadow-rgb:13,110,253;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#9A9A9A;
    --bs-btn-active-border-color:#9A9A9A;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#9A9A9A;
    --bs-btn-disabled-bg:transparent;
    --bs-btn-disabled-border-color:#9A9A9A;
    --bs-gradient:none
}

.btn-outline-posts{
    --bs-btn-color:#ed2939;
    --bs-btn-border-color:#ed2939;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#ed2939;
    --bs-btn-hover-border-color:#ed2939;
    --bs-btn-focus-shadow-rgb:13,110,253;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#ed2939;
    --bs-btn-active-border-color:#ed2939;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#ed2939;
    --bs-btn-disabled-bg:transparent;
    --bs-btn-disabled-border-color:#ed2939;
    --bs-gradient:none
}

.setting-section{
    border-top: solid 1px lightgrey;
    padding: 4% 0 0 0;
}

.btn.settings-item{
    width: 100%;
}

.top-page-popup{
    font-size: larger;
}
