body {
    padding-top: 70px;
}

textarea {
    resize: none !important;
}

/* Simple way to display differently on desktop and mobile */
.mobile-view {
    display: none;
}

.desktop-view {
    display: block;
}

@media (max-width: 1000px) {
    .mobile-view {
        display: block;
    }

    .desktop-view {
        display: none;
    }
}


/* otherwise sometimes chrome doesn't center elements*/
.center-align {
    text-align: center !important;
    width: 100% !important;
    text-align-last: center !important;
}

/* navbar */
.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    color: #000000;
    text-transform: uppercase;
    font-weight: 200 !important;
    font-size: 14px;
}

.nav-link:hover {
    background: #e1e1e1
}

.navbar-nav .active {
    border-bottom: 4px solid #000000;
}

.navbar-nav {
    width: 100%;
}

/* Profile Picture style settings */

.proPic,
.proPicBtn {
    object-fit: cover;
    max-height: 180px !important;
    max-width: 180px !important;
    min-height: 180px !important;
    min-width: 180px !important;
    border-radius: 50%;

    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 4px solid transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
}

.proPicContainer {
    min-height: 180px !important;
    padding-bottom: 1%;
}

.proPicLabel {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.proPicBtn {
    cursor: pointer;
}

@media (max-width: 1000px) {

    .proPic,
    .proPicBtn {
        object-fit: cover;
        max-height: 120px !important;
        max-width: 120px !important;
        min-height: 120px !important;
        min-width: 120px !important;
    }

    .proPicContainer {
        min-height: 120px !important;
        padding-bottom: 5%;
    }
}

.miniature {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 2px solid transparent;
    padding: 1px;
    margin: 1%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
}

.miniatureLabel {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
    /* adjust this value as needed */
    vertical-align: middle;
    margin-left: 3px;
}

/* button style */

.profile-button {
    height: 100%;
    width: 75%;
    max-height: 150px;
}

.manage-button {
    color: white !important;
    background-size: 200% auto;
    background-image: linear-gradient(to right, darkblue 0%, darkorchid 51%, darkblue 100%);
}

.manage-button:hover {
    background-position: right center;
}

button>img {
    height: 70%;
}

.d-grid>button {
    margin: 0 6.2%;
}

/* Other */

.form-outline {
    padding-bottom: 3%;
}

.spinner-border-sm {
    --bs-spinner-width: 100px !important;
    --bs-spinner-height: 100px !important;
}

/* Search */

.search-bar,
.result-bar {
    border-radius: 10em !important;
    /*background: linear-gradient(to right, darkblue, darkorchid);*/
    background: white;
    border-width: 3px !important;
    border-color: #333 !important;
}

.search-bar {
    margin-bottom: 30px;
}

.result-bar {
    margin-bottom: 15px;
}

.result-bar:hover {
    cursor: pointer;
    background-color: lightblue;
}

.search-button {
    cursor: pointer;
}

.search-button:hover {
    animation: rotation 0.4s alternate;
    animation-iteration-count: 2;
    animation-fill-mode: both;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-30deg);
    }
}

.result-element {
    width: 100%;
}

.results-title {
    width: 100%;
    color: grey;
    border-bottom: 2px solid grey;
    margin-bottom: 10px;
}

.results-container > a, .notification-text {
    text-decoration: none !important;
    color: #000000 !important;
}

.input-group>.form-control,
.input-group>.form-control:focus {
    color: black;
    border-color: transparent;
    box-shadow: inset 0 0 0 5px transparent;
}

.input-group>.form-control::placeholder {
    color: darkgray;
}

/* Other */

li.select2-results__option {
    border-bottom: 1px solid #ccc;
}

.select2-container .select2-dropdown {
    top: auto !important;
}

.setting-section{
    border-top: solid 1px lightgrey;
    padding: 4% 0 0 0;
}

.btn.settings-item {
    width: 100%;
}

.top-page-popup {
    font-size: larger;
}

.post-header {
    padding: 0.5%;
    border: 0;
    margin: 0;
    width: 100%;
}

/* TODO: Merge propic rules */
.post-header .pro-pic{
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
    /*max-width: 11%;*/
    border-radius: 50%;
    padding: 0;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 2px solid transparent;
}

.post .button-post{
    padding: 0;

}

.post .div-button-post{
    max-height: 3rem;
    padding: 0;
}

.div-button-post .btn{
    max-height: 100%;
    height: 100%;
    margin:1%;
    width:98%;
}

.comments p{
    margin:0;
}

.comments .new-comment{
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 4px solid transparent;
    padding-left: 0;
    padding-right: 0;
}

.comments .new-comment:hover{
    background: linear-gradient(to right, darkblue, darkorchid) border-box;
    color:white;
}

.comments button{
    padding: 0 2% 0 2%;
    margin:1%;
}

.comment-slider{
    overflow-y: scroll;
    max-height: 200px;
}